

.movie1 {
    background-color: red;
}

.movie2 {
    background-color: yellow;
}

.movie3 {
    background-color: lavender;
}

.movie4 {
    background-color: skyblue;
}

.movie5 {
    background-color: lime;
}
